.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #ffffff;
  .contact-wrapper {
    width: 1320px;
    height: 720px;
    padding: 30px 60px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .self-info {
      width: 481px;
      height: 544px;
      .self-card {
        width: 336px;
        height: 312px;
        .card-item {
          width: 100%;
          height: 96px;
          display: flex;
          align-items: center;
          .icon {
            width: 48px;
            height: 48px;
          }
          .card-content {
            width: 150px;
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            .card-label,
            .card-value {
              width: 100%;
              display: inline-block;
            }
            .card-label {
              color: #424e60;
            }
            .card-value {
              color: #132238;
            }
          }
        }
      }
    }
    .contact-info {
      width: 560px;
      height: 492px;
      .say-hello {
        width: 126px;
        height: 48px;
        background: #a53dff;
        color: #ffffff;
      }
      .reset-button {
        background-color: transparent;
        color: #132238;
      }
    }
    .title {
      margin-bottom: 10px;
    }
    .info-text {
      display: inline-block;
      color: #87909d;
      white-space: wrap;
      word-wrap: break-word;
      vertical-align: top;
      margin-bottom: 10px;
    }
  }
}
